@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Rubik";
	font-display: swap;
	font-weight: 400;
	src:
		url("../fonts/rubikregular.woff2") format("woff2"),
		url("../fonts/rubikregular.woff") format("woff");
}
@font-face {
	font-family: "Rubik";
	font-display: swap;
	font-weight: 500;
	src:
		url("../fonts/rubikmedium.woff2") format("woff2"),
		url("../fonts/rubikmedium.woff") format("woff");
}
@font-face {
	font-family: "Rubik";
	font-display: swap;
	font-weight: 600;
	src:
		url("../fonts/rubiksemibold.woff2") format("woff2"),
		url("../fonts/rubiksemibold.woff") format("woff");
}

/* Mobile first */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: "Rubik", "Arial", sans-serif;
}

@media only screen and (min-width: 768px) {
	.container {
		padding: 0 24px;
	}
}

img {
	display: block;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/* Sticky footer */

.site-main {
	flex-grow: 1;
}

/* Site header styles begin */

@media only screen and (max-width: 768px) {
	.open .site-header__nav {
		display: block;
		position: absolute;
		top: 120px;
		left: 0;
		z-index: 10;
		width: 100vw;
		color: #fff;
	}

	.open .menu {
		@apply absolute block w-[100vw] h-[100vh] bg-mainColor top-0 left-0 text-white;
		backdrop-filter: blur(16.309690475463867px);
	}

	.open .site-header__items:last-child .site-header__link {
		padding: 16px 24px 15px;
		font-size: 20px;
		font-size: 20px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 2.308px;
		border: 2px solid #fff;
		background-color: transparent;
	}

	.open .site-header__link {
		color: #fff;
	}

	.open .btn-ghost {
		@apply relative z-10;
	}

	.open .site-logo {
		@apply relative z-10;
	}

	.menu {
		display: none;
	}

	.open .site-header__social-list {
		position: absolute;
		left: 0;
		bottom: 50px;
		z-index: 10;
		display: flex;
		width: 100%;
		justify-content: center;
		column-gap: 40px;
	}
}

/* Site header styles end */

/* Site main begin */
/* Hero styles started */

.hero {
	background-image: url("../images/herobgimg.svg");
	background-repeat: no-repeat;
	background-position-y: 92px;
	background-position-x: calc(50% + 224px);
	background-size: 577px 203px;
}

@media only screen and (min-width: 768px) {
	.hero {
		background-size: 1000px 352px;
	}
}
@media only screen and (min-width: 1024px) {
	.hero {
		background-position-y: 247px;
		background-position-x: calc(50% + 632px);
	}
}

/* Hero styles finished */

/* Features styles started */

.features__items {
	background-image: url("../images/herobgimg.svg");
	background-repeat: no-repeat;
	background-position-y: 35px;
	background-position-x: calc(50% - 170px);
}

.features__items--intelligent {
	background-position-y: 84px;
	background-position-x: calc(50% - 200px);
}

@media only screen and (min-width: 768px) {
	.features__items {
		background-size: 1000px 352px;
		background-position-y: 80px;
		background-position-x: calc(50% - 600px);
	}
	.features__items--intelligent {
		background-position-y: 65px;
		background-position-x: calc(50% - 685px);
	}

	.features__items--share {
		background-position-x: calc(50% - 650px);
	}
}

.features__list-wrapper {
	max-width: 99vw;
	width: 100%;
}
@media only screen and (min-width: 1148px) {
	.features__list-wrapper {
	}
}

/* Features styles finished */

/* Extension styles started */

.extension__items {
	box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

/* Extension styles finished */

/* FAQ styles started */

.collapse {
	background-image: url("../images/arrrow.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: 20px;
}

.collapse-red-arrow {
	background-image: url("../images/up-arrow.svg");
}

.collapse:hover .collapse-title {
	color: #fa5959;
}

/* FAQ styles finished */

/* Site main end */

/* Site footer begin */

/* Site footer end */

/* Retina background images */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	/* Retina-specific stuff here */
}
